.btn {
  @include btn($color-white, $color-jaffa);
  padding: 2rem 7.5rem;
  border-radius: 4px;
  box-shadow: 0 3px #c86a40;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.6rem;
  transition: background-color .3s linear;
  text-transform: uppercase;

  &:active {
    box-shadow: 0 0 #c86a40;
    transform: translateY(4px);
  }

  &--green {
    background-color: $color-light-sea-green;
    box-shadow: 0 3px #14a58c;
    &:hover {
      background-color: darken($color-light-sea-green, 2);
    }
  }
  &--blue {
    background-color: $color-bright-sun;
    box-shadow: 0 3px #299ec5;
    &:hover {
      background-color: darken($color-bright-sun, 3);
    }
  }
}