.works {
  @include row-flex();
  &__item {
    @include col();
    @include size(6);
    @include size-xs(12);
    margin-bottom: 6.4rem;
  }
  &__img {
    margin-bottom: 2.7rem;
  }
  &__description {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
  }
}