.u-center-text { text-align: center !important; }

.container {
  @include wrapper();
}

.u-mb-59 {
  margin-bottom:5.9rem !important;
}

.underline--services {
  position: relative;
  @include underline(#14a58c, 2.1rem, 8.7rem, .4rem);
}

.underline--team {
  position: relative;
  @include underline(#bdd1df, 2.1rem, 8.7rem, .4rem);
}

.underline--skills {
  position: relative;
  @include underline(#dfe8ed, 2.1rem, 8.7rem, .4rem);
}

.underline--portfolio {
  position: relative;
  @include underline(#e5c37f, 2.1rem, 8.7rem, .4rem);
}

.underline--testimonials {
  position: relative;
  @include underline(#b73c6d, 2.1rem, 8.7rem, .4rem);
}

.underline--contacts {
  position: relative;
  @include underline(#273a71, 2.1rem, 8.7rem, .4rem);
}

.svg {
  background-color: #bdd1df;
  border-radius: 50%;
  text-align: center;
  width: 15px;
  height: 15px;
  line-height: 15px;
  padding: 8.5px;
  transition: all .3s;
  &--footer {
    width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: #273A71;
    &:hover {
      background-color: darken(#273A71, 10) !important;
    }
  }
  &:hover {
    background-color: darken(#bdd1df, 5);
  }
}

.hide {
    display: none;
}